/* ============= RESET ============= */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ============= GENERAL ============= */

body{
    background-color: rgb(114, 69, 161);
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============= container ============= */

.container{
    width: clamp(400px, 50%, 580px);
    padding: 40px 20px;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.container p{
    margin: 0px 15px;
}   

#form-container, input{
    min-width: 95%;
    display: flex;
    align-items: center;
}

/* ============= container -> form ============= */

form{
    display: flex;
    flex-direction: column;
}

input{
    height: 40px;
    font-size: 1.3rem;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    outline: none;
    width: min(100%, 510px);
    margin-bottom: 15px;
    padding: 0px 10px;
}

label{
    align-self: flex-start;
}

.error-text{
    align-self: flex-start;
    font-size: 12px;
    color: rgb(228, 30, 0);
}

#btn-send{
    width: 120px;
    height: 40px;
    align-self: center;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(114, 69, 161);
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}

#btn-send:hover{
    background-color: rgb(70, 53, 115);
}

#btn-send:focus{
    background-color: rgb(70, 53, 115);
}
    